* {
    padding: 0;
    margin: 0;
}

html {
  background-color: #1e1e1e;
}

html, button {
  font-family: "Arial", sans-serif;
  font-size: 10pt;
}

button {
  background-color: rgba(46, 46, 46, 0.2);
  border-color: #4a4a4a;
  color: #fafafa;
  padding: 3px;
}

td, th {
  padding: 2px 5px;
  font-size: 10pt;
}

form input, form button {
  margin-bottom: 5px;
  margin-top: 5px;
}

form label, form label strong {
  overflow: auto;
  display: inline-block;
  margin-right: 10px;
}

form label strong {
  display: inline-block;
  width: 100px;
}

input {
  color: white;
  background-color: rgba(46, 46, 46, 0.2);
  border-color: #222222;
}

input[type=number] {
  padding: 3px;
}

div.panel {
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #1e1e1e;
  color: white;
  position: absolute;
  top: 26px;
  left: 0;
  z-index: 11;
  padding: 5px;
}

#help h2 {
  text-align: center;
}

#help table {
  color: white;
}

#options {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#close-controls, #close-help {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 6px;
}
